<div class="main-menu" gl-id="main-menu">
    <div class="main-menu__title">
        <p><span>MINSA</span> <span>GIS DISCAPACIDAD</span></p>
    </div>
    <section class="main-list">
        <p>MENU</p>
        <ul gl-function="main-list">
            <li><a class="active" href="{% url 'paciente-app:dashboard' %}">Inicio</a></li>
            <li><a  href="{% url 'paciente-app:admision:list' %}">Registro Adminision</a></li>
            <li><a href="{% url 'paciente-app:cita:list' %}">Registro citas</a></li>
            <li><a href="{% url 'paciente-app:medico:list' %}">Medico-Especialista</a></li>
            <li><a href="{% url 'paciente-app:tecnologo:list' %}">Tecnologo-Medico</a></li>
        </ul>
    </section>
</div>
