{% extends 'base.html' %}
{% load static %}
{% load filter %}
{% block title %}DashBoard{% endblock title %}

{% block header %}
    {{ block.super }}
{% endblock header %}

{% block nav %}
    {{ block.super }}
{% endblock nav %}


{% block container %}
    <h3>{{ text_central }}</h3>
    <div class="col-md-6">
        {% include "partials/button_create.html" %}
    </div>
    <div class="col-md-6">
        {% include "partials/button_busqueda.html" %}
    </div>
    <div class="clearfix"></div>


    <div class="panel-body">
        <div class="table-responsive" style="display: block;">
            <table class="table">
                <thead>
                <tr class="bg-blue">
                    <th>#</th>
                    <th>Tipo Documento</th>
                    <th>Numero Documento</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><b>{{ forloop.counter }} .-</b></td>
                        <td>{{ object.get_tipo_documento_display }}</td>
                        <td>{{ object.numero_documento }}</td>
                        <td>{{ object.nombres}}</td>
                        <td>{{ object.apellido_paterno}} {{ object.apellido_materno }}</td>
                        <td>
                            <a href="{% url 'paciente-app:admision:update'  pk=object.id %}"><i class="icon-pencil7">Editar</i></a> &nbsp;
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No items.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% include 'partials/pagination.html' %}
    </div>
{% endblock container %}
