{% extends 'base.html' %}
{% load static %}
{% block title %}DashBoard{% endblock title %}

{% block header %}
    {{ block.super }}
{% endblock header %}

{% block nav %}
    {{ block.super }}
{% endblock nav %}


{% block container %}
    <div class="row">
        <h2>SISTEMA DE DISCAPACITADOS</h2>
        <div class="col-md-4">
            <div class="alert alert-info"><a href="{%  url 'paciente-app:admision:list' %}">Adminision</a></div>
        </div>

        <div class="col-md-4">
            <div class="alert alert-info"><a href="{%  url 'paciente-app:cita:list' %}">Citas</a></div>
        </div>


        <div class="col-md-4">
            <div class="alert alert-info"><a href="{%  url 'paciente-app:medico:list' %}">Registar Atencion medico</a></div>
        </div>

        <div class="col-md-4">
            <div class="alert alert-info"><a href="{%  url 'paciente-app:tecnologo:list' %}">Registar Atencion tecnologo</a></div>
        </div>

    </div>
{% endblock container %}


{% block javascript %}
    <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
{% endblock javascript %}
